<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>Admin Dashboard</title>

<link rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}">


</head>

<body>


<center><h1>College Complaint System</h1></center>

<h2>Admin Dashboard</h2>

<!-- Statistics -->
<div class="stats">

    <div class="card">
        <h3>Total Complaints</h3>
        <p>{{total}}</p>
    </div>

    <div class="card">
        <h3>Pending</h3>
        <p>{{ pending }}</p>
    </div>

    <div class="card">
        <h3>In Progress</h3>
        <p>{{progress}}</p>
    </div>



    <div class="card">
        <h3>Resolved</h3>
        <p>{{ resolved }}</p>
    </div>

</div>

<hr>

<h2>All Complaints</h2>

<table border="1">

    <thead>
        <tr>
            <th>Complaint ID</th>
            <th>Student</th>
            <th>Roll Number</th>
            <th>Department</th>
            <th>Category</th>
            <th>Description</th>
            <th>Status</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>

    <tbody>

        {% for complaint in complaints %}

        <tr>

            <!-- Complaint ID -->
            <td>{{ complaint[0] }}</td>

            <!-- Student -->
            <td>{{ complaint[1] }}</td>

            <!-- Roll Number -->
            <td>{{ complaint[2] }}</td>

            <!-- Department -->
            <td>{{ complaint[3] }}</td>

            <!-- Category -->
            <td>{{ complaint[4] }}</td>

            <!-- Description -->
            <td>{{ complaint[5] }}</td>

            <!-- Status -->
            <td>

                <form method="POST"
                      action="{{ url_for('update_status', complaint_id=complaint[0]) }}">

                    <select name="status">

                        <option value="Pending"
                            {% if complaint[6] == "Pending" %}
                                selected
                            {% endif %}>
                            Pending
                        </option>

                        <option value="In Progress"
                            {% if complaint[6] == "In Progress" %}
                                selected
                            {% endif %}>
                            In Progress
                        </option>

                        <option value="Resolved"
                            {% if complaint[6] == "Resolved" %}
                                selected
                            {% endif %}>
                            Resolved
                        </option>

                    </select>

                    <button type="submit">
                        Update
                    </button>

                </form>

            </td>

            <!-- Date -->
            <td>{{ complaint[7] }}</td>

            <!-- Delete -->
            <td>

                <form method="POST"
                      action="{{ url_for('delete_complaint', complaint_id=complaint[0]) }}">

                    <button type="submit"
                            onclick="return confirm('Delete this complaint?')">
                        Delete
                    </button>

                </form>

            </td>

        </tr>

        {% endfor %}

    </tbody>

</table>

<br>

<!-- Logout -->
<a href="{{ url_for('admin_logout') }}">
    Logout
</a>
```

</body>

</html>
