<!DOCTYPE html>
<html>
    <head>
        <title>Admin Login</title>

        <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    </head>

    <body>
        <div class="login-box">
            <h1>Admin Login</h1>

            {% if error %}
            <p class="error">{{error}}</p>
            {% endif %}

            <form method="POST">

                <label>Username</label>
                <input type="text" name="username" required>

                <label>Password</label>
                <input type="password" name="password" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </body>
</html>