<!DOCTYPE html>
<html>
    <head>
        <center><title>College Complaint System</title></center>
    </head>

    <body>
        <center><h1>College Complaint System</h1>

        <p>Welcome to the College Complaint System</p>
        

        <a href="/register">
            <button>Student Registration </button>
        </a>

        <br><br>

        <a href="/student_login">
            Student Login

        </a>
        <br><br>

        
        <a href="{{url_for('admin_login')}}">Admin Login</a>

        <br><br>

        </center>
    </body>
</html>